*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
   margin: 0 80px;
}

#header .logo {
    color: black;
    text-decoration: none;
}

#header h1 {
    font-size: 80px;
    letter-spacing: 8px;
    margin: 40px;
    text-align: center;
}

.menu .nav {
    display: flex;
    justify-content: center;
}

.nav li {
    list-style: none;
    position: relative;
    transition: all 0.3s;
}

.nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 12px;
    color: #333;
    opacity: 0.7;
}

.nav li:hover a{
    color: black;
    opacity: 1;
}

.down {
    font-size: 10px;
    color: #333;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2px;
}

#content {
    display: flex;
    justify-content: center;
    margin: 30px 80px ;
    border-top: 1px solid #333;
}

.card-post-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 3;
    width: 100%;
    margin: 30px;
}

.card-post {
    border: 1px solid #ddd;
    margin: 15px;
    width: 40%;
    transition: all 0.4s;
}

.card-post:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}

.post-img {
    overflow: hidden;
}

.post-link-img {
    display: block;
    width: 100%;
}

.card-post img {
    transition: all 0.4s;
}

.card-post:hover img {
    opacity: 0.8;
}

.post-img img {
    width: 100%;
}

.card-body .card-time {
    display: flex;
    margin: 20px 10px;
    justify-content: space-around;
    align-items: center;
}

.card-time .category {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: rgb(0, 166, 255);
    border-radius: 4px;
}

.card-time p {
    font-size: 18px;
    color: #333;
    opacity: 0.8;
    cursor: pointer;
}

.comment {
    margin-right: 5px;
}

.link-tittle {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    color: #333;
    opacity: 0.8;
    padding: 25px;
}

.card-post:hover .link-tittle {
    color: black;
    opacity: 1;
}

.pages {
    margin-top: 20px;
}

.pages button {
    border: 1px solid rgb(0, 166, 255);
    font-size: 14px;
    padding: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(0, 166, 255);
    margin: 0 10px;
    transition: all 0.4s;
}

.pages .prev {
    background-color: rgb(0, 166, 255);
    color: #fff;
}

.pages button:hover {
    background-color: rgb(0, 166, 255);
    color: #fff;
    cursor: pointer;
}

.category-list {
    flex: 1;
    margin-top: 40px;
}

.category-list p {
    font-size: 20px;
    color: #333;
    opacity: 0.8;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    width: 80%;
}

.category-list li {
    list-style: none;
    width: 80%;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-list li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 166, 255);
    padding: 15px 0;
}

.category-list li a:hover {
    color: #333;
}

.quantity {
    font-size: 18px;
    color: #333;
    opacity: 0.7;
}

#footer {
    margin-top: 50px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
#footer p {
    color: #fff;
    font-size: 20px;
 }

.about-content {
    flex: 3;
    margin: 30px;
}

.about-content h2 {
    font-size: 35px;
    font-weight: 500;
}

.about-img {
    width: 90%;
    margin: 40px 0;
}

.about-content-2 {
    width: 90%;
}

.about-content-2 p {
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
}

.contact-content {
    flex: 3;
    margin: 30px;
}

.contact-content h2 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third p,
.col-full p {
    font-size: 20px;
    color: #333;
    opacity: 0.8;
}

.col-third {
    width: 33.33%;
    padding-right: 30px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #333;
}

.col-full {
    width: 100%;
    padding-right: 30px;
}

.form-message {
    width: 100%;
    height: 300px;
    padding: 25px;
    margin: 16px 0;
    border: 1px solid #333;
}

.form-submit-btn {
    border: none;
    font-size: 16px;
    background-color: rgb(0, 166, 255);
    padding: 18px;
    color: #fff;
    cursor: pointer;
}