* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.nav {
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-logo {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-shadow: 3px 3px 3px red ;
}

.header-logo a {
    text-decoration: none;
    color: #fff;
}
/* ------------------------------------- */
.form-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
}

.searchbox-keyword {
    border: 1px solid #005ec4;
    background-color: #fff;
    display: inline-block;
    width: 100%;
}

.searchbox-keyword input {
    border: 0 #fff;
    padding: 11px 5px;
    width: 100%;
    opacity: 0.7;
}

.search-icon {
    position: absolute;
    height: 38px;
    right: 0;
    transition: opacity 0.4s ease;
}

.search-icon:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* ------------------------------------- */
.header-cart {
    display: flex;
    background-color: #005ec4;
    padding: 7px 12px;
    margin-right: 40px;
    border-radius: 8px;
    transition: opacity 0.5s ease;
}

.header-cart:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cart-icon {
    margin-right: 20px;
}

.card-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff200;
    width: 25px;
    height: 25px;
    font-weight: 700;
}
/* ------------------------------------- */

#content {
    margin-top: 90px;
}

#content .headline {
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

.headline h1 {
    display: inline-block;
    color: slategray;
    font-size: 1.5rem;
    padding: 12px 20px;
    border: 1px solid #005ec4;
    border-radius: 10px;
}
/* ------------------------------------- */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.product {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 20%
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.product-img a img {
    display: block;
    width: 100%;
    transition: all 0.5s ease;
}

.product:hover .product-img a img {
    transform: scale(1.3);
}

.product-bottom {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-tittle {
    padding: 10px;
    margin-bottom: 8px;
    height: 3rem;
    overflow: hidden;
}

.product-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: all 0.3s ease;
}

.product-rate {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.rate-text {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
    color: #a69f9f;
}

.product-price {
    padding: 10px 12px 16px;
}

.product-price span {
    font-size: 20px;
    font-weight: 700;
    color: tomato;
}

.add-cart {
    background-color: tomato;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 4px 6px;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.product-link-1 {
    color: #fff;
    text-decoration: none;
}

.product:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}

.product:hover .product-bottom,
.product:hover .product-link {
    background-color: #000;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product:hover .add-cart{
    bottom: 20px;
    /* hoặc có thể dùng transform: translate(0px, -55px) */
} 
/* ------------------------------------- */

#footer {
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-info {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 20px;
}

.social-icon {
    margin-right: 30px;
}

.social-icon p {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.social-icon a {
    margin: 10px;
}
